@page
@model auction_house.Pages.AuctionEvents.IndexModel

@{
    ViewData["Title"] = "Auctions";
}

<h1>Auctions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionEvent[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionEvent[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionEvent[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionEvent[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuctionEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
