@page
@model auction_house.Pages.Origins.IndexModel

@{
    ViewData["Title"] = "Origins";
}

<h1>Origins</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origin[0].HistoricalPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin[0].CurrentCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Origin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HistoricalPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
